<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Patients</title>
</head>
<style>
    table, th, td {
      border:1px solid black;
    }
    </style>
<body>
    <table style="width:100%">
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Condition</th>
        <tr>    
        {% for id, name, age, gender, special in patients %}
            <tr>
                <td>{{ name }}</td>
                <td>{{ age }}</td>
                <td>{{ gender }}</td>
                <td>{{ special }}</td>
            </tr>

        {% endfor %}
    </table>
    <a href='/'><button> Return Home</button>
    <a href='/add-patient'><button>Add More Patient</button>
</body>
</html>